{% extends 'base.html.twig' %}

{% block title %}{% trans %}home.title{% endtrans %}{% endblock %}

{% block body %}
	<h1>{% trans %}home.titlePres{% endtrans %}</h1>
	<p>{% trans %}home.description{% endtrans %}</p>
{% endblock %}